# Exclude all HTML, CSS, and image files
*.html linguist-vendored
*.css linguist-vendored
*.svg linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored

# Include Shell and JSON files in language stats
*.sh linguist-language=Shell
*.json linguist-language=JSON

# Ensure only TypeScript, React (.tsx), and MDX files are indexed
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.mdx linguist-language=MDX

# Exclude JavaScript files from language stats
*.js linguist-vendored
